
<div class="jumbotron">
<div class="container_fluid">

<% if logged_in?%>
<h1 class="display-4"> Bienvenue <%= current_user.first_name %> ! </h1>
<%else%>
<h1 class="display-4"> Bienvenue sur The Gossip Project ! </h1>
<%end%>
<hr class="my-4">
<p class="lead"> Ici c'est notre super site de potins, il est chouette, non ? </p>
<p class="lead">
<a class="btn btn-primary btn-lg" href="/gossip/new" role="button"> Créer un gossip </a>
</p>
</div>
</div>

<% if flash[:success] %>
<div class="alert alert-success" role="alert"><%= flash[:success] %></div>
<% elsif flash[:danger] %>
<div class="alert alert-danger" role="alert"><%= flash[:danger] %></div>
<% end %>

<h2> Les potins : </h2>

<div class="row m-3">
  <% Gossip.all.each do |gossip|%>
  <br>
    <div class="col-sm-4 mt-3">
      <div class="card">
        <div class="card-body text-center mx-auto">
          <h5 class="card-title"> Titre : <%=gossip.title%> </h5>
          <p class="card-text"> Auteur : <%=gossip.user.first_name%> </p>
          <p class="btn btn-outline-primary btn-sm"> <%= link_to "Afficher le potin", gossip_path(gossip.id) %> </p>
        </div>
      </div>
    </div>
    <%end%>
  </div>
  